header {
  text-align: center;
  width: 100%;
}
/* Task input Section */
h1 {
  margin: 50px 0px;
}
.task-input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

#task-input {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

#task-submit {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Task Management Section */

.task-text {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
