/* Task input Section */
.task-input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

#task-input {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

#add-task {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Task Management Section */

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px;
}
.task-text,
.completed {
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
  color: rgb(23, 23, 23);
}
.task-text {
  background: none;
}

.completed {
  background: rgb(0, 220, 0);
  text-decoration: line-through;
}

.edit,
.delete {
  width: 40px;
  height: 25px;
  background: none;
  margin-right: 10px;
}
