* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 50px 0px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

body {
  background-color: #21d4fd;
  background-image: linear-gradient(180deg, #8021fd 0%, #b721ff 100%);
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

::placeholder {
  color: rgb(40, 40, 40);
}
